@using System.Web.Mvc.Html
@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.XA.Foundation.Theming.Bundler
@using Site.Foundation.PageSpeed.Speedy
@using Site.Foundation.PageSpeed
@using Site.Foundation.PageSpeed.Model
@using Site.Foundation.PageSpeed.Settings
@using System.Web.Mvc.Html
@using Sitecore.Mvc
@using Sitecore.XA.Foundation.Grid.Extensions
@using Sitecore.XA.Foundation.Theming.Bundler

@model Sitecore.Mvc.Presentation.RenderingModel
@{
    SpeedyLayoutModel model = SpeedyAssetLinksGenerator.GetSpeedyLayoutModel();
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="@Model.Item.Language.Name">
<!--<![endif]-->
<head>

    @if (!model.SpeedyJsEnabled)
    {
        @Html.Partial("/Views/Speedy/OriginalStylesLoader.cshtml", model.AssetLinks)
    }

    @Html.Sitecore().VisitorIdentification()
    @Html.Sxa().Placeholder("head")

    @if (model.SpeedyJsEnabled)
    {
        @Html.Partial("/Views/Speedy/SpeedyJavascriptLoader.cshtml", (model.AssetLinks as SpeedyAssetLinks))
    }
    
    @if (model.SpeedyCssEnabled)
    {
        @Html.Partial("/Views/Speedy/Critical.cshtml", (model.CriticalHtml))
    }
</head>
<body @Html.Sxa().Body().Decorate()>

    @Html.Sitecore().Placeholder("body-top")

    @Html.Sxa().GridBody()

    @Html.Sitecore().Placeholder("body-bottom")

    @if (model.SpeedyCssEnabled)
    {
        @Html.Partial("/Views/Speedy/SpeedyStylesLoader.cshtml", (model.AssetLinks as SpeedyAssetLinks))
    }

    @if (!model.SpeedyJsEnabled)
    {
        @Html.Partial("/Views/Speedy/OriginalScriptsLoader.cshtml", model.AssetLinks)
    }

    <!-- /#wrapper -->
</body>
</html>