@using System.Web.Mvc.Html
@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.XA.Foundation.Grid.Extensions
@using Sitecore.XA.Foundation.Theming.Bundler
@using Site.Foundation.PageSpeed.Speedy
@using Site.Foundation.PageSpeed
@using Site.Foundation.PageSpeed.Settings

@model Sitecore.Mvc.Presentation.RenderingModel

@{
    AssetLinks assetLinks = null;
    bool speedyEnabled = SpeedyGenerationSettings.IsSpeedyEnabledForPage(Sitecore.Context.Item);
    bool speedyJsEnabled = false;
    bool speedyCssEnabled = false;
    bool byPassNotDetected = !string.IsNullOrWhiteSpace(Request[SpeedyConstants.ByPass.ByPassParameter]);
    if (speedyEnabled && byPassNotDetected)
    {
        assetLinks = SpeedyAssetLinksGeneratorV2.GenerateDeferedLinks(new ThemesProvider());
        speedyJsEnabled = SpeedyGenerationSettings.IsCriticalJavascriptEnabledAndPossible(Sitecore.Context.Item);
        speedyCssEnabled = SpeedyGenerationSettings.IsCriticalJavascriptEnabledAndPossible(Sitecore.Context.Item);
    }
    else
    {
        assetLinks = AssetLinksGenerator.GenerateLinks(new ThemesProvider());
    }
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="@Model.Item.Language.Name">
<!--<![endif]-->
<head>

    @if (!speedyJsEnabled)
    {
        @Html.Partial("/Views/Speedy/OriginalStylesLoader.cshtml", assetLinks)
    }

    @Html.Sitecore().VisitorIdentification()
    @Html.Sxa().Placeholder("head")

    @if (speedyCssEnabled)
    {
        @Html.Partial("/Views/Speedy/SpeedyJavascriptLoader.cshtml", assetLinks)
    }
</head>
<body @Html.Sxa().Body().Decorate()>

    @Html.Sitecore().Placeholder("body-top")

    @Html.Sxa().GridBody()

    @Html.Sitecore().Placeholder("body-bottom")

    @if (speedyCssEnabled)
    {
        @Html.Partial("/Views/Speedy/SpeedyStylesLoader.cshtml", assetLinks)
    }

    @if (!speedyJsEnabled)
    {
        @Html.Partial("/Views/Speedy/OriginalScriptsLoader.cshtml", assetLinks)
    }

    <!-- /#wrapper -->
</body>
</html>