@using System.Web.Mvc.Html
@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.XA.Foundation.Theming.Bundler
@using System.Web.Mvc.Html
@using Sitecore.Foundation.Speedy.Model
@using Sitecore.Foundation.Speedy.Speedy
@using Sitecore.Mvc
@using Sitecore.XA.Foundation.Grid.Extensions
@using Sitecore.XA.Foundation.Theming.Bundler

@model Sitecore.Mvc.Presentation.RenderingModel
@{
    SpeedyLayoutModel model = SpeedyAssetLinksGenerator.GetSpeedyLayoutModel();
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="@Model.Item.Language.Name">
<!--<![endif]-->
<head>

    @if (!model.SpeedyJsEnabled)
    {
        @Html.Sitecore().Rendering("{B623677C-0D6A-42C1-8D96-22BF2C0DCC87}", new { Cacheable = true, CacheKey = model.CacheKey + "OriginalStylesLoader" })
    }

    @Html.Sitecore().VisitorIdentification()
    @Html.Sxa().Placeholder("head")

    @if (model.SpeedyJsEnabled)
    {
        @Html.Sitecore().Rendering("{645086C0-B7F8-455B-AC12-4A8971311652}", new { Cacheable = true, CacheKey = model.CacheKey + "javascriptloader" })
    }

    @if (model.SpeedyCssEnabled)
    {
        @* Inline Critical Css *@
        @Html.Sitecore().Rendering("{8A3B4A25-EAD1-4B93-BF43-45C333F9129E}", new { Cacheable = true, CacheKey = model.CacheKey + "criticalcss" })
    }
</head>
<body @Html.Sxa().Body().Decorate()>

    @Html.Sitecore().Placeholder("body-top")

    @Html.Sxa().GridBody()

    @Html.Sitecore().Placeholder("body-bottom")

    @if (model.SpeedyCssEnabled)
    {
        @Html.Sitecore().Rendering("{77C679DE-CFF5-40C1-A386-8AD1D953FC99}", new { Cacheable = true, CacheKey = model.CacheKey + "SpeedyStylesLoader" })
    }

    @if (!model.SpeedyJsEnabled)
    {
        @Html.Sitecore().Rendering("{A41DEEAE-2E35-416C-AF04-F97A5F174C07}", new { Cacheable = true, CacheKey = model.CacheKey + "OriginalScriptsLoader" })
    }

    <!-- /#wrapper -->
</body>
</html>